* {
    margin: 0;
    padding: 0;
}
.menu {
    width: 100%;
    height: 50%;
    background-color: blueviolet;
}
.rodape {
    text-align: center;
}
@media screen and (min-width: 728px) {
    .menu {
        height: 100px;
        background-color: darkgrey;
    }
    @media screen and (min-width: 1280px) {
        .menu {
            height: 100px;
            background-color: pink;
            color: greenyellow;
            font-size: 64px;
        
        }
    }
}

